[submodule "lib/uniswap-v3-periphery"]
	path = lib/uniswap-v3-periphery
	url = https://github.com/uniswap/v3-periphery
[submodule "lib/uniswap-v3-core"]
	path = lib/uniswap-v3-core
	url = https://github.com/uniswap/v3-core
